/* BASE STYLES */
body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
}

.title-text {
    font-weight: 700;
    font-size: 18px;
}

span, h2 {
    font-weight: 400;
    color: hsl(0, 0%, 59%);

}

h2 {
    font-size: 16px;
}

span {
    font-size: 14px;
}

.age {
    font-size: 18px;
}


/* CARD STYLES */

.container {
    z-index: 1;
    text-align: center;
    margin: 200px auto;
    width: 400px;
    height: 425px;
    background-image: url(/images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    margin-top: 110px;
    border-radius: 50%;
    border: solid #fff;
}

/* TYPOGRAPHY */
.stats {
    display: flex;
    justify-content: space-around;
    border-top: solid hsl(0, 0%, 59%) 0.01px;
    margin-top: 30px;
    padding-top: 20px;
    letter-spacing: 2px;
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    color: #fff;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


.svg-top {
    border: none;
    position: absolute;
    z-index: -1;
    top: -570px;
    left: -200px;
}

.svg-bottom {
    border: none;
    position: absolute;
    z-index: -1;
    bottom: -460px;
    right: -150px;
}